@import "font-icon/font-ico.min.css";

button, input {
    outline: none;
}

.graPage button {
    border: solid 1px #cccccc;
    cursor: pointer;
    font-size: 12px;
    border-radius: 2px;
    background-color: transparent;
    color: #333333;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
}

.graPage > .operation {
    width: 55px;
    height: 30px;
}

.graPage > .num {
    width: 30px;
    height: 30px;
}

.graPage > .select {
    color: white;
    background-color: #00A095;
    border: solid 1px #00A095;
}

.graPage button:hover {
    border: solid 1px #00A095;
}

.graSelect {
    width: 200px;
    height: 25px;
    border: solid 1px #cccccc;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    color: #333333;
}

.graSelect-container {
    display: inline-block;
    position: relative;
}

.graSelect-tag {
    position: absolute;
    right: 4px;
    height: 15px;
    width: auto;
    cursor: pointer;
    z-index: 99;
}

.graSelect-ul {
    position: absolute;
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: white;
    border: solid 1px #cccccc;
    box-sizing: border-box;
    margin-top: 11px;
    color: #333333;
    padding-top: 2px;
    padding-bottom: 2px;
}

.graSelect-ul > li {
    cursor: pointer;
    line-height: 26px;
}

.graSelect-ul > li:hover {
    background-color: #F0F0F0;
}

.graTree {
    padding-left: 7px;
    width: 200px;
}

.graTree ul {
    padding-left: 15px;
    display: none;
}

.graTree li {
    text-indent: 25px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    text-align: left;
}

.graTree .folderOpen {
    background: url("image/folderOpen.png") no-repeat 1px -1px/auto 22px;
    list-style: none;
}

.graTree .folderClose {
    background: url("image/folderClose.png") no-repeat 2px 1px/auto 18px;
    list-style: none;
}

.graTree .file {
    background: url("image/file.png") no-repeat 0 0/auto 21px;
    list-style: none;
}

.graCheck {
    border: solid 1px #cccccc;
    width: 200px;
    height: 32px;
    border-radius: 3px;
    text-align: center;
}

.graCheck > div {
    border: solid 1px #D7DCE0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 3px;
    background-color: #F7F9FA;
    margin: auto;
    margin-top: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.graCheck span {
    display: inline-block;
    font-size: 13px;
    height: 100%;
    color: #535353;
    vertical-align: top;
    line-height: 24px;
    text-indent: 22px;
    background: url("image/lock.png") no-repeat 0 2px/auto 80%;
}

.graWhorl {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.graWhorl:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: aqua;
}

.graWhorl > div {
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: solid 1px aqua;
}

.graWhorl > div:first-child {
    animation: go 3s infinite;
}

.graWhorl > div:nth-child(2) {
    animation: go 3s .6s infinite;
}

.graWhorl > div:last-child {
    animation: go 3s 1.2s infinite;
}

@keyframes go {
    0% {
        opacity: 1;
        width: 10%;
        height: 10%;
    }
    100% {
        width: 105%;
        height: 105%;
        opacity: 0;
    }
}

input[type=gra-tel] {
    outline: none;
    border: solid 2px #cccccc;
    height: 23px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    color: #333333;
}

input[type=gra-tel]:focus {
    border: solid 2px #01AAED;
}

input[type=gra-email] {
    outline: none;
    border: solid 1px #cccccc;
    height: 23px;
    width: 250px;
    font-size: 15px;
    text-indent: 5px;
    border-radius: 2px;
    color: #333333;
}

input[type=gra-email]:focus {
    border: solid 1px #01AAED;
}

.graEmail-container {
    position: relative;
    display: inline-block;
}

.graEmail-container > ul {
    position: absolute;
    display: none;
    text-align: center;
    padding: 2px 0 2px 0;
    width: 100%;
    list-style: none;
    background-color: white;
    border: solid 1px #cccccc;
    color: #333333;
    margin-top: 1px;
    z-index: 99;
}

.graEmail-container > ul > li {
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    line-height: 25px;
}

.graEmail-container > ul > li:hover {
    background-color: #F0F0F0;
}

.email-sel {
    background-color: #F0F0F0;
}

.graCarousel {
    position: relative;
    width: 100%;
    height: 400px;
}

.graCarousel > div:not(.tagDiv) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
}

.graCarousel > div:first-child {
    z-index: 1;
    opacity: 1;
}

.graCarousel > .tagDiv {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.tagDiv > div {
    display: inline-block;
    width: 50px;
    border: solid 4px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 16px;
    box-sizing: border-box;
    border-radius: 15px;
}

.graUpload {
    border: solid 1px #cccccc;
    border-radius: 4px;
    width: 400px;
    margin: 50px;
    padding: 10px;
}

.graUpload .show {
    position: relative;
    height: 80px;
    width: 100px;
    background: url("image/addFile.png") no-repeat center/auto 40px;
    border: dashed 1px #cccccc;
}

.graUpload input[type="file"] {
    position: relative;
    left: 115px;
    top: 1px;
    width: 101px;
    height: 30px;
    border: none;
    cursor: pointer;
    opacity: 0;
}

.graUpload .select {
    position: relative;
    left: 165px;
    top: -25px;
    background-color: #00B8E9;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    pointer-events: none;
    margin-left: -99px;
}

.graUpload .post {
    position: relative;
    left: 164px;
    top: 15px;
    background-color: #00B8E9;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    margin-left: -99px;
    cursor: pointer;
}

.graUpload .infoContainer {
    position: absolute;
    left: 230px;
    top: 0;
    height: 80px;
    width: 168px;
    text-align: left;
}

.graUpload .fileInfo {
    display: inline-block;
    width: 100px;
    height: 80px;
    font-size: 12px;
    padding-top: 14px;
    box-sizing: border-box;
}

.graUpload .fileInfo span {
    display: block;
    line-height: 17px;
    color: #333333;
}

.graUpload .process {
    position: relative;
    float: right;
    /*background-color: #5FB878;*/
    width: 60px;
    height: 60px;
    top: 10px;
    left: -5px;
    border: solid 2px #cccccc;
    box-sizing: border-box;
    border-radius: 50%;
}

.graUpload .process > div {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border: solid 2px #cccccc;
    background-color: white;
}

.graUpload .filesContainer {
    height: 100px;
    border: solid 1px #cccccc;
    margin-top: 10px;
    border-radius: 3px;
    overflow: auto;
    text-align: left;
}

.graUpload .filesContainer > div {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 16px;
    border: solid 1px #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 8px;
    line-height: 138px;
    color: #333333;
}

.graUpload .filesContainer > div span {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.graUpload .close {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: solid 1px #333333;
    cursor: pointer;
}

.graUpload .close1 {
    position: absolute;
    top: 6px;
    right: 2px;
    width: 9px;
    height: 1px;
    background-color: #333333;
    transform: rotate(45deg);
}

.graUpload .close2 {
    position: absolute;
    top: 6px;
    right: 2px;
    width: 9px;
    height: 1px;
    background-color: #333333;
    transform: rotate(-45deg);
}